STRIPE_SECRET_KEY=sk_live_XXXXXXXX
NEXT_PUBLIC_URL=https://lokalmatsverige.se
NEXT_PUBLIC_DOMAIN=lokalmatsverige.se
PRODUCT_NAME=Lokal Matbeställningsplattform
PRODUCT_DESCRIPTION=En webbplattform där lokala producenter kan lista sina produkter och konsumenter kan köpa direkt frå
PRICE_ORE=9900